.k-grid td {
    padding: 0.5rem 0rem;
}

.k-grid {
    font-size: .75rem;
}

    .k-grid th, .k-grid td {
        padding: 0.1rem 0.1rem;
    }
.k-button {
    padding: 0.1rem 0.5rem;
    gap: 0.5rem;
}